@model AddTagViewModel

<div class="add-tag-container" data-task-id="@Model.TaskId" data-return-url="@Model.ReturnUrl" >
    <div class="add-tag-placeholder add-tag" >
        ➕ Add Tag
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}

