<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebApp</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav>
			@if (User.Identity?.IsAuthenticated == true)
			{
                <a asp-action="GetOverdueTasks" asp-controller="ListTask">Overdue tasks</a>
                <a asp-action="GetAssignedTasks" asp-controller="ListTask">Assigned tasks</a>
                <a href="/">Home</a>
                <a asp-action="GetTags" asp-controller="Tag">Tags</a>
				<form asp-action="Logout" asp-controller="Auth">
					<button type="submit" class="btn btn-danger">Sign out</button>
				</form>
			} else
			{
				<a asp-action="SignIn" asp-controller="Auth">Sign in</a>
				<a asp-action="SignUp" asp-controller="Auth">Sign up</a>
			}
		</nav>
    </header>
    <div class="container">
		@if (ViewBag.Error != null)
		{
			<div class="alert alert-danger">@ViewBag.Error</div>
		}
		@if (TempData["Error"] != null)
		{
			<div class="alert alert-danger">@TempData["Error"]</div>
		}
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
