@using WebApp.Models.ToDoLists
@model ToDoListModel

<div class="card mb-3">
    <div class="card-header">
        <h5>@Model.Title</h5>
    </div>
    <div class="card-body">
        <p>@Model.Description</p>
    </div>
    <div class="card-footer">
        <a href="/tasks?listId=@Model.Id" class="btn btn-primary">View</a>
        <a asp-action="UpdateList" asp-controller="ToDoList" asp-route-id="@Model.Id">Edit</a>

		<form method="post" asp-action="DeleteList" asp-controller="ToDoList" asp-route-id="@Model.Id">
			<button type="submit">Delete</button>
		</form>
    </div>
</div>