@model TasksByTagViewModel

<div>
    <div class="d-flex align-items-center mb-4">
        <h1 class="mb-0 me-2">Tasks tagged:</h1>
        <span class="badge bg-primary fs-6">@Model?.Tag?.Name</span>
    </div>
    @foreach (var task in (Model?.TaskSummaries ?? Enumerable.Empty<TaskSummaryModel?>())
        .Where(t => t is not null)
        .Cast<TaskSummaryModel>())
    {
        @await Html.PartialAsync("Partials/Task/_TaskSummaryCard", new TaskCardModel
        {
            HighlightOverdues = true,
            IsOwner = true,
            ReturnUrl = $"tag?TagId={Model?.Tag?.Id}&TagName={Model?.Tag?.Name}",
            TaskSummary = task,
        })
    }
</div>