@model TagListViewModel


<div class="tags">
    @foreach (var tag in Model.Tags)
    {
        @await Html.PartialAsync("Partials/Tag/_TaskTagCard", new TagViewModel
        {
           DisplayTag = true,
           FiltersTasks = false,
           HasDeleteButton = Model.IsOwner,
           ReturnUrl = Model.ReturnUrl,
           Tag = tag,
           TaskId = Model.TaskId,
        })
    }
    @if (Model.IsOwner)
    {
        <div class="add-tag-container" data-task-id="@Model.TaskId" data-return-url="@Model.ReturnUrl">
            <div class="add-tag-placeholder add-tag">
                ➕ Add Tag
            </div>
        </div>
    }
</div>