@model AddTaskViewModel;


<h1>Here you can add a task!</h1>

<form asp-action="AddTask" method="post">
    <div>
        <label asp-for="TaskDetails.Title"></label>
        <input asp-for="TaskDetails.Title" />
    </div>

    <div>
        <label asp-for="TaskDetails.Description"></label>
        <input asp-for="TaskDetails.Description" />
    </div>

    <div>
        <label asp-for="TaskDetails.DueDateTime"></label>
        <input asp-for="TaskDetails.DueDateTime" />
    </div>

    <input type="hidden" value=@Model.ListId name="listId" />
    <input type="submit" value="Submit" />
</form>