@model ListTaskInfoModel;

@{
    ViewData["Title"] = "List Info";
}


<div class="container">
    <a href="/add-task?listId=@Model.ListId" class="btn btn-primary">Add a task</a>
    <h1>@Model.Title</h1>
    <p>List ID: @Model.ListId</p>
    <h2>Tasks</h2>
    @if (Model.Tasks != null && Model.Tasks.Count > 0)
    {
        @foreach (var task in Model.Tasks)
        {
            @await Html.PartialAsync("Partials/Task/_TaskSummaryCard", new TaskCardModel
            {
                HighlightOverdues = true,
                IsOwner = true,
                ReturnUrl = $"/tasks?listId={Model.ListId}",
                TaskSummary = task,
            })
        }
    }
</div>