@model List<TaskSummaryModel>;


@{
    ViewData["Title"] = "Overdue Tasks";
}


<div class="container">
    <h2>Overdue Tasks</h2>
    @if (Model != null && Model.Count > 0)
    {
        @foreach (var task in Model)
        {
            @await Html.PartialAsync("_TaskSummaryCard", new TaskCardModel
            {
                HighlightOverdues = true,
                IsOwner = true,
                ReturnUrl = $"/overdue",
                TaskSummary = task,
            });
        }
    } else
    {
        <p>Seems like there are no overdues</p>
    }
</div>