@model TaskSearchModel

<h1>Search Results</h1>


@if (Model != null && Model?.Tasks?.Count > 0)
{
        @foreach (var task in Model.Tasks)
        {
        @await Html.PartialAsync("Partials/Task/_TaskSummaryCard", new TaskCardModel
            {
                HighlightOverdues = true,
                IsOwner = true,
                ReturnUrl = Model.ReturnUrl,
                TaskSummary = task,
            });
        }
} else
{
    <p>Nothing matched your search!</p>
}
