@model EditTaskViewModel;


<div>
    <h1>@Model?.taskDetails?.Id</h1>
    <h2>@Model?.taskDetails?.Title</h2>
    <h3>@Model?.taskDetails?.Description</h3>
    <h4>@Model?.taskDetails?.CreationDateTime</h4>
    <h5>@Model?.taskDetails?.DueDateTime</h5>
    <h6>@Model?.taskDetails?.TaskStatus</h6>
    <div>
        @foreach (var tag in Model?.taskDetails?.Tags ?? [])
        {
            <span class="badge bg-secondary">@tag.Name</span>
        }
    </div>

    <div>
        <h3>Comments</h3>
        @if (Model?.taskDetails?.Comments != null && Model.taskDetails.Comments.Any())
        {
            <ul>
                @foreach (var comment in Model.taskDetails.Comments)
                {
                    <li>
                        <strong>@comment.Id</strong>:
                        <span>@comment.Note</span>
                        <em>@comment.CreationDateTime.ToString("g")</em>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No comments available.</p>
        }
    </div>
    <a href="/edit-task?taskId=@Model?.taskDetails?.Id&listId=@Model?.listId">Edit</a>
    <form asp-action="DeleteTask" method="post" onsubmit="return confirm('Are you sure?');">
        <input type="hidden" name="taskId" value="@Model?.taskDetails?.Id" />
        <input type="hidden" name="listId" value="@Model?.listId" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>