@model TaskViewModel;


<div>
    <h1>@Model?.TaskDetails?.Id</h1>
    <h2>@Model?.TaskDetails?.Title</h2>
    <h3>@Model?.TaskDetails?.Description</h3>
    <h4>@Model?.TaskDetails?.CreationDateTime</h4>
    <h5>@Model?.TaskDetails?.DueDateTime</h5>
    <h6>@Model?.TaskDetails?.TaskStatus</h6>
    <div>
        @await Html.PartialAsync("Partials/Tag/_TagList", new TagListViewModel
        {
            IsOwner = Model?.IsOwner ?? false,
            ReturnUrl = Model?.ReturnUrl ?? "",
            Tags = Model?.TaskDetails?.Tags ?? [],
            TaskId = Model?.TaskDetails?.Id ?? 0,
        })
    </div>

    <div>
        <h3>Comments</h3>
        @await Html.PartialAsync("Partials/Comment/_CommentList", new CommentViewModel
        {
            Comments = Model?.TaskDetails?.Comments ?? [],
            IsOwner = Model?.IsOwner ?? false,
            ReturnUrl = Model?.ReturnUrl ?? "",
            TaskId = Model?.TaskDetails?.Id ?? 0,
        })
    </div>
    @if (@Model?.IsOwner ?? false)
    {
        <a href="/edit-task?taskId=@Model?.TaskDetails?.Id&returnUrl=@Model?.ReturnUrl">Edit</a>
        <form asp-action="DeleteTask" method="post" onsubmit="return confirm('Are you sure?');">
            <input type="hidden" name="taskId" value="@Model?.TaskDetails?.Id" />
                <input type="hidden" name="returnUrl" value="@Uri.UnescapeDataString(Model?.ReturnUrl?.ToString() ?? string.Empty)" />
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    }
</div>
<a href="@Model?.ReturnUrl">Go back!</a>
